@import "src/shared/styles/vars";

.message {
  font-size: $fsTextMd;
  padding: 12px 20px;
  border-radius: $brCircled;
  background: $cLightBlue;
  color: black;
  word-break: break-word;
  @media screen and (max-width: $dimensionMob) {
    padding: 8px 12px;
  }
}