@import "src/shared/styles/vars";

.circle {
  border-radius: 50%;
  background: $cDarkBlue;
  color: white;
  cursor: pointer;
  height: 40px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}