@import "src/shared/styles/vars";

.container {
  padding-bottom: $pDesktop;
  position: relative;
  @media screen and (max-width: $dimensionMob) {
    padding-bottom: $pMobile;
  }
}

.input {
  width: 100%;
  background: white;
  border-radius: $brDefault;
  padding: 20px 28px;
  border: none;
  &::placeholder {
    color: $cLightGray;
    font-size: $fsTextLg;
  }
  &.disabled {
    background: $bgDisabled;
    &::placeholder {
      color: $cDisabled;
    }
  }
}

.circle {
  position: absolute;
  top: 10px;
  right: 12px;
  &.disabled {
    background: $cDisabled;
    cursor: not-allowed;
  }
}